@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto:wght@300;400;500&family=Montserrat:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

:root {
    --vermelho-claro: rgb(255, 40, 40);
    --vermelho: red;
    --vermelho-escuro: rgb(185, 0, 0);
    --vermelho-escurao: rgb(75, 0, 0);
    --preto: black;
    --branco: white;
    --cinza: rgb(181, 181, 181);
    --cinza-escuro: rgb(65, 65, 65);
    --cinza-escurao: rgb(26, 26, 26);

}

body {
    background-color: var(--preto);
    color: var(--branco);
}

#logo{
    height: 85px;
    width: 125px;
    animation: flutuar 4s ease-in-out infinite,
               pulsar 1.5s ease-in-out infinite;
}

h1 {
    font-size: 45px;
    animation: surgir-girando 1.5s ease-out .3s forwards,
               pulsar 1s ease-in-out infinite;
    letter-spacing: 2px;
}

h2 {
    animation: brilhar 5s ease-in-out infinite;
    font-size: 35px;
    color: var(--preto);
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 3px var(--cinza),
                 0 0 2px var(--vermelho-escuro),
                 0 0 1px var(--vermelho-escurao);
}

header {
    width: 100%;
    background-color: var(--preto);
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 120px;
    padding: 0 40px;
    border-bottom: solid 1px var(--vermelho-escuro);
    animation: surgir-cima .7s ease-in-out .3s forwards;
    position: fixed;
    z-index: 1000;
    opacity: 0;
}

#nav-inicio {
    animation: surgir-cima 1s ease-out .4s forwards;
    opacity: 0;
}
#nav-guia {
    animation: surgir-cima 1s ease-out .6s forwards;
    opacity: 0;
}
#nav-daily {
    animation: surgir-cima 1s ease-out .8s forwards;
    opacity: 0;
}
#nav-jogos {
    animation: surgir-cima 1s ease-out 1s forwards;
    opacity: 0;
}
#nav-rpg{
    animation: surgir-cima 1s ease-out 1.2s forwards;
    opacity: 0;
}
#nav-comandos {
    animation: surgir-cima 1s ease-out 1.4s forwards;
    opacity: 0;
}
#nav-perfil {
    animation: surgir-cima 1s ease-out 1.6s forwards;
    opacity: 0;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav ul a {
    color: black;
    border: solid 1.5px var(--cinza);
    border-radius: 10px;
    padding: 5px;
    font-size: bold;
    background-color: white;
    box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
    filter: drop-shadow( 0 0 1.5px var(--cinza));
    transition: .3s;
    display: inline-block;
}

nav ul a:hover {
    animation: piscar .7s ease-in-out infinite;
    color: var(--vermelho-escuro);
    transform: scale(1.2);
}

@keyframes piscar {
    0%, 100% {
        border: solid 1.5px var(--cinza);
        box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
        filter: drop-shadow( 0 0 3px transparent);
    }
    50% {
        border: solid 1.5px var(--cinza);
        box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
        filter: drop-shadow( 0 0 1px var(--vermelho-claro)) 
                drop-shadow(0 0 2px var(--vermelho));
    }
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulsar {
    0%, 100% {
        filter: drop-shadow( 0 0 1px var(--cinza)) 
                drop-shadow(0 0 3px var(--vermelho-escuro)) 
                drop-shadow( 0 1px var(--vermelho-escurao));
    }
    50% {
        filter: drop-shadow( 0 0 2px var(--cinza)) 
                drop-shadow(0 0 5px var(--vermelho-escuro)) 
                drop-shadow(0 0 2px var(--vermelho-escurao));
    }
}

@keyframes surgir-cima {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

@keyframes surgir-girando {
    0% {
        transform: translateY(-270px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(1080deg);
    }
}

@keyframes surgir-baixo {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    padding-top: 200px;
}

#sec-comandos {
    animation: surgir-baixo 1s ease-out 1.3s forwards;
    opacity: 0;
}

#pesquisa {
  width: 80%;
  max-width: 600px;
  padding: 10px 15px;
  margin: 20px auto;
  display: block;
  background: var(--cinza-escuro);
  border: 2px solid var(--vermelho-escurao);
  color: var(--branco);
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
  font-family: "Russo One", sans-serif;
}

#pesquisa:focus {
  border-color: var(--vermelho-escurao);
  background: var(--cinza-escurao);
  color: var(--branco);
  font-family: "Russo One", sans-serif;
}

.categoria {
  margin: 20px auto;
  max-width: 600px;
}

.categoria-titulo {
  color: var(--branco);
  margin-bottom: 8px;
  border-bottom: 2px solid var(--vermelho-escurao);
  padding: 6px 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  position: relative;
  letter-spacing: 1px;
  filter: brightness(1.6);
  animation: pulsar 1s ease-in-out infinite;
}

.categoria-titulo::after {
  content: "▾";
  position: absolute;
  right: 10px;
  color: var(--vermelho-escurao);
  transition: 0.3s;
}

.categoria-titulo.aberto::after {
  content: "▸";
}

.categoria-lista {
  background: var(--cinza-escuro);
  border: solid 2px var(--vermelho-escurao);
  border-left: solid 4px var(--vermelho-escurao);
  border-radius: 8px;
  padding: 15px;
  margin-top: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  filter: drop-shadow( 0 0 2px var(--cinza)) 
                drop-shadow(0 0 5px var(--vermelho-escuro)) 
                drop-shadow(0 0 2px var(--vermelho-escurao));
}

.categoria-lista.fechado {
  max-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
}

.categoria-lista {
  transition: all 0.35s ease;
}

.comando {
  background: var(--cinza);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  border: solid 1px var(--vermelho-escurao);
  border-left: 4px solid var(--vermelho-escurao);
  transition: 0.2s;
  color: var(--preto);
}

.comando:hover {
  background: var(--branco);
  transform: scale(1.02);
}

.cmd-nome {
  color: var(--vermelho-escurao);
  font-weight: bold;
  font-size: 23px;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  filter: brightness(1.6);
  text-shadow: -2px 0 3px var(--preto),
               -2px 0 2px var(--vermelho-escurao),
               -2px 0 3px var(--vermelho-escurao),
               -2px 0 3px var(--preto);
}

.cmd-description {
  font-family: "Russo One", sans-serif;
  font-size: 17px;
}

.cmd-info {
  color: var(--cinza);
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-family: "Russo One", sans-serif;
  color: var(--preto);
}