@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto:wght@300;400;500&family=Montserrat:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

:root {
    --vermelho-claro: rgb(255, 40, 40);
    --vermelho: red;
    --vermelho-escuro: rgb(185, 0, 0);
    --vermelho-escurao: rgb(75, 0, 0);
    --preto: black;
    --branco: white;
    --cinza: rgb(181, 181, 181);
    --cinza-escuro: rgb(65, 65, 65);

}

body {
    background-color: var(--preto);
    color: var(--branco);
}

#logo{
    height: 85px;
    width: 125px;
    animation: flutuar 4s ease-in-out infinite,
               pulsar 1.5s ease-in-out infinite;
}

h1 {
    font-size: 45px;
    animation: surgir-girando 1.5s ease-out .3s forwards,
               pulsar 1s ease-in-out infinite;
    letter-spacing: 2px;
}

header {
    width: 100%;
    background-color: var(--preto);
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 120px;
    padding: 0 40px;
    border-bottom: solid 1px var(--vermelho-escuro);
    animation: surgir-cima .7s ease-in-out .3s forwards;
    opacity: 0;
}

#nav-inicio {
    animation: surgir-cima 1s ease-out .4s forwards;
    opacity: 0;
}
#nav-guia {
    animation: surgir-cima 1s ease-out .6s forwards;
    opacity: 0;
}
#nav-daily {
    animation: surgir-cima 1s ease-out .8s forwards;
    opacity: 0;
}
#nav-jogos {
    animation: surgir-cima 1s ease-out 1s forwards;
    opacity: 0;
}
#nav-rpg{
    animation: surgir-cima 1s ease-out 1.2s forwards;
    opacity: 0;
}
#nav-comandos {
    animation: surgir-cima 1s ease-out 1.4s forwards;
    opacity: 0;
}
#nav-perfil {
    animation: surgir-cima 1s ease-out 1.6s forwards;
    opacity: 0;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav ul a {
    color: black;
    border: solid 1.5px var(--cinza);
    border-radius: 10px;
    padding: 5px;
    font-size: bold;
    background-color: white;
    box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
    filter: drop-shadow( 0 0 1.5px var(--cinza));
    transition: .3s;
    display: inline-block;
}

nav ul a:hover {
    animation: piscar .7s ease-in-out infinite;
    color: var(--vermelho-escuro);
    transform: scale(1.2);
}

@keyframes piscar {
    0%, 100% {
        border: solid 1.5px var(--cinza);
        box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
        filter: drop-shadow( 0 0 3px transparent);
    }
    50% {
        border: solid 1.5px var(--cinza);
        box-shadow: 0 0 2px var(--branco), 0 0 5px var(--cinza-escuro);
        filter: drop-shadow( 0 0 1px var(--vermelho-claro)) 
                drop-shadow(0 0 2px var(--vermelho));
    }
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulsar {
    0%, 100% {
        filter: drop-shadow( 0 0 1px var(--cinza)) 
                drop-shadow(0 0 3px var(--vermelho-escuro)) 
                drop-shadow( 0 1px var(--vermelho-escurao));
    }
    50% {
        filter: drop-shadow( 0 0 2px var(--cinza)) 
                drop-shadow(0 0 5px var(--vermelho-escuro)) 
                drop-shadow(0 0 2px var(--vermelho-escurao));
    }
}

@keyframes surgir-cima {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

@keyframes surgir-girando {
    0% {
        transform: translateY(-270px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(1080deg);
    }
}

@keyframes surgir-baixo {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#banner {
    width: 100%;
    height: auto;
    animation: surgir-baixo 1s ease-in-out .03s forwards;
    opacity: 0;
}
